@media (width: 1366px) {
	.projects_container {
		width: 1200px;
		justify-content: space-between;
	}

	.bg-text {
		font-size: 140px;
	}

	.projects_info {
		width: 700px;
	}

	.projects_info h1 {
		font-size: 22px;
		padding-top: 1px;
		margin-left: 7px;
	}

	.projects_info p {
		width: 527px;
		font-size: 16px;
		margin-top: -23px;
	}

	.posts_item {
		width: 300px;
	}

	.posts_more {
		margin-top: 20px;
		margin-right: 0;
		margin-bottom: 80px;
	}

	.element_yellow_red {
		margin-left: 75px;
	}

	.element_purple {
		margin-left: -110px;
	}
}
